@import "../mixin";

.mobile-app {
    height: 50vw;
    background-image: url(../../../public/background/steak-background-app.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @include Responsive($--mobile) {
        height: 100vw;
    }
    @include Responsive($--mobile) {
        height: 120vw;
    }
    .container-mobile-app {
        width: 100%;
        height: 100%;
        max-width: 1640px;
        @include dpFlex(center, space-between);
        margin: 0 auto;
        position: relative;
        @include Responsive($--mobile) {
            flex-direction: column;
        }
        .container-title-link-content, .container-mobile-app-description {
            width: 47%;
            height: 100%;
        }
        .container-title-link-content {
            max-width: 700px;
            height: max-content;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            background-color: $--white-100;
            @include Responsive($--tablet) {
                width: 75%;
                max-width: none;
            }
            @include Responsive($--mobile) {
                top: 0;
                transform: translate(0, 0);
                width: 100%;
            }
            .mobile-app-title {
                padding-left: 40px;
                border-left: solid 25px $--green-100;
                color: $--dark-blue;
                @include Responsive($--tablet-m) {
                    padding: 0;
                }
                @include Responsive($--mobile) {
                    border-left: solid 10px $--green-100;
                    font-size: 26px;
                    line-height: 36px;
                }
            }
            .mobile-app-content {
                padding-left: 65px;
                color: $--gray-100;
                margin: 30px 0;
                @include Responsive($--tablet-m) {
                    padding-left: 5px;
                    margin: 10px 0;
                }
            }
            .container-mobile-app-link {
                padding-left: 65px;
                @include dpFlex(center, space-between);
                @include Responsive($--tablet-m) {
                    padding: 0;
                }
                .link-gg-play, .link-app-store {
                    @include dpFlex(center, space-between);
                    width: 45%;
                    height: 70px;
                    background-color: $--black;
                    border-radius: 10px;
                    @include Responsive($--tablet-m) {
                        height: 60px;
                    }
                }
                .icon-gg-play, .icon-app-store {
                    width: auto;
                    height: 90%;
                }
                .description-gg-play, .description-app-store {
                    width: 70%;
                    color: $--white;
                }
                .description-gg-play>span, .description-app-store>span {
                    display: block;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
        .container-mobile-app-description {
            display: flex;
            align-items: center;
            position: absolute;
            left: 50%;
            @include Responsive($--tablet) {
                width: 25%;
                left: 75%;
            }
            @include Responsive($--mobile) {
                width: 100%;
                height: 40%;
                left: 0;
                top: 60%;
            }
            .mobile-app-description-img {
                width: auto;
                height: 90%;
                margin: 0 auto;
                box-shadow: 5px 10px 15px $--gray-100;
                border-radius: 50px;
                @include Responsive($--tablet) {
                    border-radius: 25px;
                }
                @include Responsive($--mobile) {
                    border-radius: 10px;
                }
            }
        }
    }
}