@import "../mixin";

.container-cart {
    padding: 10px;
    @include Responsive($--mobile) {
        padding: 5px;
    }
    .cart-info, .cart-payment {
        width: 50%;
        min-width: 340px;
        margin: 0 auto;
        @include Responsive($--tablet) {
            width: 70%;
        }
        @include Responsive($--tablet-m) {
            width: 90%;
        }
        .link-back-shop {
            height: 100px;
            font-size: 20px;
            font-weight: 600;
            color: $--green-100;
            @include dpFlex(center, left);
            img {
                width: 26px;
            }
        }
        .container-cart-item {
            @include dpFlex(center, space-between);
            border: solid 1px $--gray-100;
            border-radius: 10px;
            overflow: hidden;
            margin: 20px 0;
            .cart-item-img, .cart-item-name, .cart-item-price, .cart-item-quantity {
                width: 20%;
            }
            .cart-item-name, .cart-item-price {
                text-align: center;
            }
            .cart-item-quantity {
                @include dpFlex(center, center);
                .quantity {
                    font-size: 18px;
                    font-weight: 600;
                    color: $--red;
                    padding: 10px;
                }
                .gr-btn-quantity {
                    button {
                        border: solid 2px $--gray-200;
                        background-color: transparent;
                        width: 30px;
                        font-size: 20px;
                    }
                }
            }
            .cart-item-price {
                font-size: 18px;
                font-weight: 600;
                color: $--green-200;
            }
            .btn-delete-food {
                background-color: $--red;
                color: white;
                font-weight: 600;
                padding: 10px;
            }
        }
    }
    .cart-payment {
        @include dpFlex(center, space-between);
        padding: 20px;
        color: $--white;
        background-color: $--dark-blue;
        border-radius: 20px;
        .total-bill {
            font-weight: 400;
            span {
                font-size: 20px;
                font-weight: 600;
                color: $--green-100;
            }
        }
        button {
            border: none;
            padding: 15px;
            background-color: $--green-200;
            color: $--white;
            font-weight: 600;
            border-radius: 10px;
        }
    }
}
