@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
// VARIABLES COLOR
$--dark-blue: #2e266f;
$--red: #fe043c;
$--gray-100: #707070;
$--gray-200: #343434;
$--green-100: #35cd8c;
$--green-200: #31a24c;
$--yellow-100: #FFF7CC;
$--yellow-200: #FFE145;
$--yellow-300: #B79C10;
$--black: #000000;
$--white: #ffffff;
$--white-100: #fff5ec;
$--white-200: #ffedde;
// VARIABLES FONT-FAMILY
$--ff-poppin: 'Poppins', sans-serif;
$--ff-verdana: Verdana, Geneva, Tahoma, sans-serif;
// MEDIA-QUERY 
$--desktop: 1920px;
$--tablet: 1195px;
$--tablet-m: 721px;
$--mobile: 572px;